<div class="index-container row flex-column justify-content-center align-items-center">

  <img class="beer-img" src="/images/beer.png" alt="">

  <button class="btn btn-primary m-2">Check the beers</button>
  <button class="btn btn-primary m-2">Check a random Beer</button>
</div>