<div class="container">
  <div class="row m-3">
    {{#each beers}}
    {{> beerPartial}}

    {{!-- <div class="card" style="width: 33.333%;">
        <img class="card-img-top" src="{{photo}}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{name}} {{lastName}}</h5>
            <p class="card-text">{{team}}</p>
        </div>
    </div> --}}

    {{/each}}
  </div>
</div>